
body {
    font-family: Segoe UI Light,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

body, html {
    margin: 0 0 -21px 0;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    overflow:hidden;
}